/* CSS declarations go here */
@import url("http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic");

html {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  font-family: Lato;
  background-color: #333333;
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.container {
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
  max-height: 1136px;
  background: white;
  position: relative;
}

.logo {
  /*position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%,-50%);*/
  background-color:  #3887be;
  padding: 10px 12px 5px 13px;
  border-radius: 5px;
  margin: auto;
  display: block;
}
header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}

#login-buttons {
  display: block;
}

#draw-line {
  position:absolute;
  z-index: 21;
  left: 0%;
}

.mid-wrapper > *{
  margin: 0 auto;
}

.mid-wrapper{
  width: 100%;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 640px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}

.topbar {
  background-color: rgb(255, 255, 255);
  opacity: 0.94;
  position: fixed;
  left: 0px;
  top: -1px;
  width: 100%;
  height: 64px;
  z-index: 20;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.05);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.05);
}

.search-main {
  display: block;
  width: 110%;
  text-align: center;
  border: 0px;
  background-color: rgb(255, 255, 255);
  color: rgb(16, 16, 16);
  position: fixed;
  left: -5%;
  top: 61px;
  height: 40px;
  opacity: 0.95;
  z-index: 3;
  font-size: 13px;
  font-family: Lato;
  padding: 2px 0 2px 0;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.08);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.08);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.08);
  -webkit-appearance: none;
  -webkit-transition: .2s
}

.boxed {
  display: block;
  border: 1px solid black;
  text-align: center;
  line-height: 38px;
  background-color: rgb(255,255,255);
  z-index: 10;
  height: 38px;
  opacity: .95;
  font-size: 13px;
  font-family: Lato;

}

.something{
  position: absolute;
  width: 100%;
}

.title{
  color: rgb(76, 76, 76);
  position: absolute;
  display: block;
  text-align: center;
  width: 100%;
  margin-top: 32px;
  font-size: 15px;
  font-weight: 600;
  font-family: Lato;
  z-index: 4;
}

.current_point{
  position:absolute;
  background-color: #9DE4FF/*#39b54a*/;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  z-index: 9;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
}

.pee_point{
  position: absolute;
  background-color: #FFF380;
  width: 15px;
  height: 15px;
  top: -1px;
  border: 4px solid #FFF9B6;
  border-radius: 50%;
  z-index: 9;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);

}

.dest_point{
  position:absolute;
  background-color: rgb(169, 201, 91);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  z-index: 5;
}

.ripple{
  top:-5px; left:-5px; width:38px; height:38px; opacity: 0.5; background-color: rgba(109, 209, 253, 1);
  border-radius:50%;position:absolute;

  -webkit-animation: ripple-animation 1.5s infinite;
}

@-webkit-keyframes ripple-animation {
    0% {
      -webkit-transform: scale(1);
      opacity: 0.4;
    }
    95% {
      -webkit-transform: scale(1.9);
      opacity: 0.01;
    }
    100%{
      -webkit-transform: scale(2);
      opacity: 0;
    }
}

.mapbg{
  margin-top: 104px;
  z-index: 0;
}

.desc{
  top: -4px; left: -5px;
  padding: 4px 8px 4px 25px;  position: absolute;
  -webkit-border-top-left-radius: 40px;
  -webkit-border-bottom-left-radius: 40px;
  -moz-border-radius-topleft: 40px;
  -moz-border-radius-bottomleft: 40px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  opacity: 0.9;
}

.cur_desc{
  background-color: #2fa0d3;
}

.dest_desc{
  background-color: rgb(208, 232, 149);
}

.startbtn{
  color: rgba(255, 255, 255, 0.9);
  margin: 0px 10px 0px 0px;
  top: 466px;
  left: 120px;
  z-index: 100;
}

.mapoverlay{
  position: fixed;
  top: 0px;
  width: 320px;
  height: 568px;
  background-color: rgba(255, 255, 255, 0.7);

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navigation-title{
  z-index: 103;
  width: 100%;
  height: 90px;
  background-color: #283943;
  top: 0px;
  position: absolute;
}

.fromPlace, .toPlace{
  position: absolute;
  z-index: 104;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  top: 40px;
  left: 13px;
}

.from, .to{
  position: absolute;
  z-index: 104;
  color: rgba(255, 255, 255, 0.28);
  font-size: 12px;
  top: 55px;
  left: 13px;
}

.toPlace{
  left: 229px;
}

.to{
  left: 229px;
}

.fromPoint{
  position: absolute;
  z-index: 104;
  border: 2px solid #00afec;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  top: 43px;
  left: 61px;
}

.toPoint{
  position: absolute;
  z-index: 107;
  background-color: #abcf53;
  width: 10px;
  border: 2px solid #abcf53;
  border-radius: 50%;
  height: 10px;
  top: 43px;
  left: 203px;
}

.dashline{
  position: absolute;
  z-index: 108;
  background-image: url("line.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 113px;
  height: 13px;
  top: 48px;
  left: 81.5px;
}

.closebtn{
  z-index: 104;
  position: absolute;
  background-image: url("closebtn.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  top: 42.5px;
  left: 283px;
}

.description{
  z-index: 103;
  display: table;
  position: absolute;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.93);
  height: 63px;
  top: 90px;
  left: 0px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
}

.nav-text{
  display: table-cell;
  vertical-align: middle;
  color: #4D4D4D;
  position: relative;
  font-size: 13px;
  width: 210px;
  word-break: break-word;
  left: 14px;
}

.next-btn{
  position: absolute;
  top: 13px;
  left: 235px;
  padding: 10px 20px;
  border-radius: 5px;
  border-width: 0px;
  background-color: #d4ea9f;
  color: #70853c;
  -webkit-appearance: none;
}

.navigation{
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 200;

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.something{
  position: absolute;
  width: 100%;
  z-index:300;
}

.midbox{
  position: absolute;
  background: url("boxbg.png");
  top:180px;
  left:45px;
  width: 230px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 500;
}

.boxdes{
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.new-task input {
  position: relative;
  left: 10%;
  right: 10%;
  display: block;
  text-align: center;
  padding: 10px 0px;
  margin: 15px 0 50px 0;
  background: transparent;
  border: 1px solid rgba(0,0,0,0.13);
  border-radius: 5px;
  width: 80%;
  -webkit-appearance: none;
  font-size: 13px;
}

.new-task input:focus{
  outline: 0;
}

.scan-qr{
  position: relative;
  -webkit-appearance: none;
  width: 80%;
  padding: 15px 0;
  background-color: #5eb8e2;
  color: white;
  border-radius: 5px;
  border: 0px;
  left: 10%;
}

.movable{
   -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.plus {
    position: fixed;
    top: 530px;
    left: 15px;
    z-index:200;
}

.minus {
    position: fixed;
    top: 530px;
    left: 45px;
    z-index:201;
}

.bafroom {
    position: fixed;
    top: 22px;
    left: 200px;
    z-index:202;
}
